<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalculateBMR</title>
    <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="/bmr"> Back</a> <br><br>

    <div class="card text-bg-success mb-3 " style="max-width: 18rem;">
        <div class="card-header text-black">Your BMR:</div>
        <div class="card-body">
          <h5 class="card-title">{{BMR}}</h5>
        </div>
    </div>

    <script src="static/js.bootstrap.js"></script>
</body>
</html>