{% extends 'master.html' %}

{% block title %}
  Redister
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card text-bg-dark mb-3">
                <div class="card-header">Register</div>
                <div class="card-body">
                    <form method="post">
                  
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Username</label>
                          <input name="username" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input name="password" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">City</label>
                          <input name="city" type="text" class="form-control">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Register</button>
                      </form>
                </div>
              </div>
        </div>
    </div>
{% endblock %}